{% extends 'salon/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<!-- Jumbotron секция -->
<div class="jumbotron custom-jumbotron">
    <div class="overlay">
        <h1 class="display-4">Добро пожаловать в Beauty Salon!</h1>
        <p class="lead">Лучшие мастера и отличные услуги для вас.</p>
        <a class="btn btn-light btn-lg" role="button"  href="{% url 'book_service' %}" >Записаться </a>

    </div>
</div>


<!-- Секция с нашими мастерами -->
<div class="container mt-5  bg-dark text-white py-5">
    <h2 class="mb-4">Наши мастера</h2>
    <div class="row">
        {% for master in masters %}
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="{{ master.photo.url }}" class="card-img-top" alt="{{ master.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ master.name }}</h5>
                    <p class="card-text">{{ master.title }}</p>
                    <a href="{% url 'master_detail' master.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Секция с портфолио -->
<div class="container mt-5 bg-light  py-5">
    <h2 class="mb-4">Наше портфолио</h2>
    <div class="row">
        <div class="portfolio">
    {% for portfolio in portfolios %}
    <div class="portfolio-item">
        <div class="portfolio-image">
            <img src="{{ portfolio.photo.url }}" alt="{{ portfolio.title }}">
            <div class="portfolio-overlay">
                <h5>{{ portfolio.master.name }}</h5>
                <p>{{ portfolio.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    </div>
</div>

<!-- Секция с отзывами -->
<div class="container mt-5 py-5">
    <h2 class="text-center mb-4">Отзывы клиентов</h2>
    <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Индикаторы -->
        <div class="carousel-indicators mb-3">
            {% for review in reviews %}
                <button type="button" data-bs-target="#reviewCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% for review in reviews %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{{ review.master.photo.url }}" class="rounded-circle" alt="{{ review.master.name }}" width="100" height="100">
                        <h5>{{ review.master.name }}</h5>
                        <p class="text-muted">Рейтинг: {{ review.rating }}</p>
                        <p>{{ review.text }}</p>
                        <p>{{ review.date|date:"d.m.Y" }} <span>{{ review.client.user.first_name }}</span></p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>


    </div>
</div>


<!-- Секция с описанием салона -->
<div class="container mt-5 bg-light py-5">
    <div class="row">
        <div class="col-md-6">
            <h2>О салоне</h2>
            <p>
                Наш салон предоставляет широкий спектр услуг, включая парикмахерские услуги, маникюр, педикюр и уход
                за
                лицом.
                Наши профессиональные мастера имеют многолетний опыт работы и помогут вам создать идеальный образ.
            </p>
        </div>

        <!-- Секция с режимом работы -->
        <div class="col-md-6">
            <h2>Режим работы</h2>
            <p><strong>Понедельник - Пятница:</strong> 09:00 - 20:00</p>
            <p><strong>Суббота:</strong> 10:00 - 18:00</p>
            <p><strong>Воскресенье:</strong> выходной</p>
        </div>
    </div>
</div>

{% endblock %}
